:root {
  --color--black: #000000;
  --color--white: #ffffff;
  --color--gray-dark: #a5a4a4;
  --color--gray: #f1f1f1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
  line-height: 1.5;
  transition: 0.3s;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
}

button:hover {
  cursor: pointer;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background: white;
  box-shadow: 0px -12px 20px var(--color--black);
}

.header .navbar {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 4px;
}

.header .navbar .navbar-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.header .navbar .navbar-links a,
.logo {
  padding: 15px 20px;
}
.header .navbar .navbar-links a:hover,
.logo:hover {
  background-color: var(--color--gray-dark);
}

.landing {
  position: relative;
}
.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 15px;
}

.landing .container img {
  max-width: 100%;
}

.landing-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 35px;
}
.landing-title span {
  padding: 8px 17px;
  background-color: #0000009f;
}

.projects {
  padding-top: 90px;
}
.section-header {
  font-size: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--color--gray);
}

.projects-content {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}
.projects-content .project-card {
  width: 350px;
  height: 250px;
  position: relative;
}

.projects-content .project-card p {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
  background-color: var(--color--black);
  color: var(--color--white);
  font-weight: 100;
  width: fit-content;
}
.about {
  padding-top: 90px;
}
.about-content {
  padding-top: 40px;
}

.about-content .about-cards {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.about-content .about-cards .about-card {
  width: 24.5%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.about-content .about-cards .about-card .about-card-title {
  color: var(--color--gray-dark);
}
.about-content .about-cards .about-card .about-card-btn {
  background-color: var(--color--gray);
  padding: 10px 0;
  font-size: 15px;
  border: none;
  outline: none;
}
.about-content .about-cards .about-card .about-card-btn:hover {
  cursor: pointer;
  background-color: var(--color--gray-dark);
}
.contact {
  padding: 90px 0;
}
.contact .contact-desc {
  margin: 20px 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.contact-form input {
  padding: 10px;
  font-size: 15px;
  border: 1px solid var(--color--gray);
}
.contact-form input:focus {
  border: 1px solid var(--color--gray-dark);
}
.contact-form button[type="submit"] {
  width: fit-content;
  color: var(--color--white);
  background-color: var(--color--black);
  text-transform: uppercase;
  padding: 10px 14px;
  font-size: 15px;
  outline: navajowhite;
  border: none;
}

.footer {
  padding: 25px;
  background-color: var(--color--black);
  color: white;
  text-align: center;
}
